@media all and (max-width:759px){
    #all_wrap {
        width: 100%;
        height: 100%; /*3800px*/
        /*padding-bottom: 100%;*/
        margin: 0 auto;
        /*background-color: bisque;*/
    }
    /*-------------------------------------all_wrap*/
    #pc_header{
        display: none;
    }
    
    /*-----------------------------------------------*/
    #m_header_bottom_wrap{
        width: 100%;
        height: auto;
        background-color: white;
        float: left;
        box-shadow: 0px 5px 10px rgba(30,30,30,0.5);
        opacity: 0.9;
        /*display: none;*/
    }
    #m_header_bottom{
        width: 100%;
        height: 35px; 
        float: left;
        background-image: url(../img/header/m_header_icon_box.png);
        background-repeat: no-repeat;
    }
    #m_header_bottom_icon{
        width: 260px;
        height: 23px;
        /*background-color: aquamarine;*/
        margin-top: 5px;
        margin-left: 30px;
        float: left;
    }
    #m_header_bottom_icon>img{
        width: 100%;
        height: 100%;
    }
    #m_header_bottom_menu_box{
        width: 28px;
        height: 20px;
        float: right;
        margin-top: 7px;
        margin-right: 30px;
    }
    #m_header_bottom_menu_box>img{
        width: 100%;
        height: 100%;
    }
    /*--------------------------------------------------header*/
    #banner {
        width: 100%;
        height: 755px;/*960px*/
        float: left;
        background-color: white;
        position: relative;
    }
    @media all and (min-width:1220px){
        #banner_box{
           left: 50%;/*60px*/
        transform: translate(-50%); 
        }
    }
    @media all and (max-width:1219px){
        #banner_box{
           left: 0;
        }
    }
    #banner_box {
        width: 100%;/*1500px*/
        height: 655px;
        background-color: white;
        position: absolute;
        z-index: 1;
        box-shadow: 5px 5px 7px rgba(30, 30, 30, 0.5);
        border: 1px solid rgba(10, 10, 10, 0.1);
        box-sizing: border-box;
    }
    #banner_in_box {
        /*width: 100%;*/
        height: 655px;
        margin-top: 15px;
        background-color: burlywood;
        float: left;
        position: relative;
        overflow: hidden;
    }
    #banner_in_box_img{
        /*width: 300%;*/
        height: 655px;
        background-color: aqua;
        position: absolute;
        top: 0;
        left: 0;
    }
    #banner_in_box_img>li{
        /*width: 33.333%;*/
        height: 655px;
        float: left;
    }
    #banner_in_box_img>li:nth-child(1){
        background-image: url(../img/banner/banner_img.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner_in_box_img>li:nth-child(2){
        background-image: url(../img/banner/banner_img_2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner_in_box_img>li:nth-child(3){
        background-image: url(../img/banner/banner_img_3.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #banner_in_box_img>li>a>img{
        display: none;
    }
    #banner_text_box {
        width: 92.105%;/*700px*/
        height: 100px;
        background-color: #e6e6e6;
        position: absolute;
        right: 0;
        top: 620px;
        z-index: 2;
    }
    #banner_text_box > p {
        display: none;
    }
    #banner_text_wrap{
        width: 100%;/*350px*/
        height: 120px;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        float: left;
    }
    .banner_text_in_box{
        width: 100%;
        height: 120px;
        position: absolute;
        top: 0;
        left: 200%;
        transition-duration: 0.5s;
        text-align: center;
    }
    .banner_on{
        left: 0; 
    }
    .banner_text_in_box>p{
        font-family: 'NanumGothic';
        color: #6c6c6c;
        display: inline-block;
        line-height: 100px;
        font-size: 14px;
        margin-right: 25px;
    }
    .banner_text_in_box > p:nth-child(1){
        margin-left: 11.428%;
    }
    
    .banner_text_in_box > p:nth-child(2) > span {
        font-size: 16px;
        font-weight: 700;
        color: #353535;
    }
    .banner_text_in_box > p:nth-child(3) {
        font-size: 16px;
        font-weight: 700;
        color: #353535;

    }
    #banner_text_in_line {
        display: none;
    }
    #banner_line_box {
        width: 200px;/*175px*/
        height: auto;
        position: absolute;
        top: -20px;
        right: 20px;
    }
    #banner_line_box .banner_line {
        width: 60px;/*53px*/
        height: 5px;
        float: left;
        background-color: #b2b2b2;
        margin-right: 10px;/*8px*/
    }
    .line_on{
        background: #353535 !important;
    }
    #banner_line_box .banner_line:nth-child(3) {
        margin-right: 0;
    }
    #banner_arrow_box {
       display: none;
    }
    #back_img {
        display: none;
    }
    #back_img_2 {
        width: 100%;/*945px*/
        height: 86px;
        position: absolute;
        right: 0;/*915px*/
        top: 670px;
    }
    #back_img_2 > img {
        width: 100%;
        height: 100%;
    }
    /*-------------------------------------------------banner*/
    #sec_1_product {
        width: 100%;
        height: 400px;
        float: left;
        overflow: hidden;
    }
    #sec_1_text_box {
        display: none;
    }
    #sec_1_out_box {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: aqua;
    }
    #sec_1_in_box {
        width: 100%;/*1200px*/
        height: auto;
        float: left;
    }
    #sec_1_in_box .sec_1_item {
        width: 50%;/*380px*/
        height: 200px;
        float: left;
        position: relative;
        overflow: hidden;
        background-color: #252525;
    }
    #sec_1_in_box .sec_1_item:nth-child(3) {
        margin-right: 0;
    }
    #sec_1_item_logo{
        width:140px;
        height: 78px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #sec_1_item_logo>img{
        width: 100%;
        height: 100%;
    }
    .sec_1_shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(10, 10, 10, 0.7);
    }
    .sec_1_shadow > h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        font-size: 34px;
        font-family: 'NanumGothic';
        z-index: 2;
    }
    #sec_1_in_box .sec_1_item>a > img {
        width: 100%;
        height: 100%;
    }
    /*--------------------------------------------------sec_1_porduct*/
    #sec_2_project {
        width: 100%;
        height: 785px;
        background-color: white;
        float: left;
        position: relative;
        overflow: hidden;
    }
    #sec_2_box {
        width: 100%;
        height: 100%;/*916px*/
        position: relative;
    }
    #sec_2_box > img {
        width: 100%;
        height: 100%;
    }
    #sec_2_out_box {
        display: none;
    }
    #sec_2_in_box {
        width: 100%; /*1170px*/
        height: 65px;
        position: absolute;
        z-index: 4;
        background-color: white;
    }
    #sec_2_in_box_left {
        width: 100%;
        height: 100%;
        float: left;
    }
    #sec_2_in_box_left_title {
        width: 100%;
        height: 100%;
        float: left;
    }
    #sec_2_in_box_left_title > p {
        font-size: 20px;
        margin-top: 30px;/*-15px*/
        margin-left: 30px;/*-5px*/
        color: #353535;
        font-family: 'NanumGothic';
    }
    #sec_2_in_box_left_title > p > br{
        display: none;
    }
    #sec_2_in_box_left_text {
        display: none;
    }
    #sec_2_in_box_right_text > p {
        color: white;
        font-family: 'NanumGothic';
    }
    #sec_2_px_down{
        display: none;
    }
    #sec_2_in_box_left_text .img_box {
        display: none;
    }
    #sec_2_in_box_right {
        width: 100%;/*680px*/
        height: 720px;
        float: left;
        position: relative;
    }
    #sec_2_in_box_right_movie {
        width: 100%;
        height: 430px;
        box-shadow: 3px 3px 10px rgba(30, 30, 30, 0.8);
        float: left;
    }
    #sec_2_in_box_right_text {
        width: 68.421%;
        height: 260px;
        position: absolute;
        top: 430px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }
    #sec_2_in_box_bottom_text{
        display: none;
    }
    #sec_2_in_box_right_text > p:nth-child(1) {
        font-size: 26px;
        margin-top: 30px;
    }
    #sec_2_in_box_right_text > p:nth-child(2) {
        font-size: 12px;
        margin-top: 15px;
        line-height: 20px;
    }
    #sec_2_in_bg {
        display: none;
    }
    #sec_2_side_logo{
        display: none;
    }
    /*---------------------------------------------sec_2_project*/
    #sec_3_open {
        width: 100%;
        height: 750px;
        float: left;
        background-color: cadetblue;
        position: relative;
        overflow: hidden;
    }
    #sec_3_open > img {
        display: none;
    }
    #sec_3_footer_bg{
        width: 100%;
        height: 100%;
    }
    #sec_3_footer_bg>img{
        width: 100%;
        height: 100%;
    }
    #sec_3_bottom_logo_box{
        display: none;
    }
    #sec_3_out_box {
        width: 100%;/*1177px*/
        height: 675px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        background-color: white;
    }
    #sec_3_sub_bg {
        display: none;
    }
    #sec_3_in_box_text {
        width: 68.421%;/*1147px*/
        height: 305px;
        background-color: white;
        float: left;
        position: absolute;
        top: 370px;
        left: 50%;
        transform: translateX(-50%);
    }
    #sec_3_in_box_text_in {
        width: 100%;/*390px*/
        height: 185px;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%,-50%);
        overflow: hidden;
    }
    #sec_3_in_box_text_in > h3 {
        font-family: 'NanumGothic';
        font-size: 14px;
        line-height: 22px;
        color: #404040;
    }
    #sec_3_in_box_text_in > p {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #808080;
    }
    #sec_3_in_box_text_side{
        display: none;
    }
    #m_bottom_text_but{
        width: 90px;
        height: 20px;
        position: absolute;
        bottom: 30px;
        left: 0;
    }
    #m_bottom_text_but>p{
        font-size: 14px;
    }
    #m_bottom_text_but>p>a{
        color: #808080;
    }
    #sec_3_in_box_img {
        width: 100%;/*700px*/
        height: 370px;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 4px 4px 7px rgba(10, 10, 10, 0.5);
        overflow: hidden;
    }
    #sec_3_img{
        width: 100%;
        height: 100%;
        background-image: url(../img/sec_3/sec_3_img_box_2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #sec_3_in_box_img>img{
        width: 100%;
        height: auto;
    }
    #m_img_box{
        display: none;
    }
    #sec_3_in_box_img_shadow{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
    }
    #sec_3_in_box_title {
        width: 100%;
        height: 110px;
        position: absolute;
        top: 150px;
        left: 0;
        margin-left: 1.886%;/*30px*/
    }
    #sec_3_in_box_title > p {
        font-size: 50px;
        color: #c2c2c2;
        text-shadow: 3px 3px 6px rgba(10, 10, 10, 0.5);
        font-family: 'NanumGothic';
        margin-top: 6px;
    }
    #sec_3_in_box_title > p > span {
        color: white;
    }
    #footer_wrap{
        width: 100%;
        height: 75px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #footer_logo_box{
        width: 250px;/*420px*/
        height: 25px;
        position: absolute;
        top: 35%;
        left: 49%;
        transform: translate(-50%,-50%);
    }
    #footer_logo_box>img{
        width: 100%;/*300px*/
        height: 100%;
    }
    #footer_address_box{
        display: none;
    }
    #m_footer_address{
        width: auto;/*1500px*/
        height: auto;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #m_footer_address>p{
        color: white;
        font-size: 14px;
        font-family: 'NanumGothic';
    }
    #footer_hover_box{
        display: none;
    }
    #footer_sns_box{
        display: none;
    }
}  /*end*/